ion-content{                         /* 设置页面文字属性*/
    font-family: SimHei;
    font-size: 10px;
    color: #8c8c8c;
    margin: 0 auto;
    background-color:#f8f8f8 ;
}
/*.img_size{
    width: 100%;
    height: 100%;

}*/
.img_pos{                                /* 设置图片位于底层*/
   z-index: 0;
    width: 100%;
    position: relative;
    float: left;
   -webkit-filter:saturate(1);               /*css3滤镜，饱和度*/
   -webkit-filter:brightness(0.7);          /*css3滤镜，亮度*/
  }
.word_pos{                         /* 设置所有文字属性，位于图片上层，文字对齐方式等*/
    z-index: 2;
    position:absolute;
    float: left;
    text-align: center;
    top:100px;                        /*设置文字在图片上的位置*/
    color: #ffffff;
    width: 100%;

}
  .img_words{
    font-size: 15px;
                              /*  第一张图片上的大文字*/
   }
   .img_smwords{             /*第一张图片上的小文字*/

   }
   .img_numbs{              /*第一张图片上的价钱，斜体字*/
       font-style: italic;
       position: relative;
       margin-top: 20px;
       left:20%;
    }
#btnBar{
    font-family: SimHei;
    font-size: 10px;
    color: #8c8c8c;
}
.btnBar-sty{                                /*  设置下拉框整体属性*/
    position: relative;
    float: left;
    width: 100%;
    padding: 15px 10px 10px;
    }
.btnBar-box{
    width: 100%;
    position: relative;
    float: left;                   /*设置图片，内容盒子属性*/
}
     .btnBar-styImg{                   /*设置下拉框图片属性*/
         float: left;
         position: relative;
     }
     .btnBar-styWord{
                           /*设置下拉框文字属性*/
         float:right;
         margin-top: 15%;
         position: relative;
         }
.pro_BigBox{                                /*装产品的大盒子，期中包含一个长期展示的小盒子，和一个拉伸展开的小盒子。*/
    padding: 10px 2px 15px;
    width: 100%;
    color: #000000;                             /*设置产品列表下的介绍文字颜色*/
    line-height: 15px;
   }
 .pro_UpBox{                           /*长期展示的小盒子*/

 }
 .pro_BtnBox{
     margin: 0 auto;                         /*拉神展开的Button*/
     width:280px ;
     height: 30px;
     line-height: 28px;
     text-align:center;
     border-radius: 25px;
     border: 1px solid #cccccc;
     color: #ff9329;
 }
 .pro_BottomBox{
                                         /*拉伸展示的小盒子*/
 }
  .pro_BoxImg{
      z-index: 0;                     /*产品列表的图片，并设置叠放布局*/
  }
  .pro_BoxWord{
      z-index: 2;                    /*产品列表图片上的文字。比如：慕尼黑*/
      color: #ffffff;
      font-size: 11px;
      position:relative;
      margin-top: -30px;
      margin-left: 10px;
  }
  .pro_place {
      color: #cccccc; /*产品列表下的介绍文字，以及介绍地点*/
      margin-top: -20px;
  }
/*
.TourMap{                           */
/*地图*//*

    width: 100%;
    height: 100%;
   z-index: 0;
}
*/
table
{
    width: 100%;
    border-collapse:collapse;
    border:1px solid #cccccc;

    text-align: center;
    padding: 20px;

}
td,tr{
    border-collapse:collapse;
    border:1px solid #cccccc;
    vertical-align:middle;
    padding: 20px;

}
/*智能排序POPEVER*/
.popover {
    position: absolute;
    top: 25%;
    left: 50%;
    z-index: 10;
    display: block;
    margin-top: 12px;
    margin-left: -110px;
    height: 280px;
    width: 100% !important;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    opacity: 0;
}
.platform-ios .popover-arrow:after{
    display: none !important;
}
/*下拉刷新的样式*/
.spinner svg {
    width: 19% !important;
    height:40px !important;
}
/*商家列表点击智能排序的样式*/
a.button.button-small.button-clear.icon-right{

    height: 37px !important;
}
.button.icon-right:before {
  float: right;
  margin-right: 30px!important;
}
